{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>SeeN'Speak</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="{% static 'assets/css/meyawo.css' %}">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="{% url 'index' %}">SeeN'Speak</a>
            <ul class="nav">
                <li class="item">
                    <a class="link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="item">
                    <a class="link" href="{% url 'textToSpeech' %}">Text to Speech</a>
                </li>
                
                
                
                <li class="item">
                    <a class="link" href="{% url 'image_processing' %}">Image to Text Converter</a>
                </li>
                
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>
    </nav><!-- End of Page Navbar -->

    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="container">
            <!-- image processing section -->
            <section class="section" id="image-processing">
                <div class="container text-center">
                    <h6 class="section-title mb-5">Image Processing</h6>
                    <!-- image processing form -->
                    <form action="{% url 'image_processing' %}" method="post" class="contact-form col-md-10 col-lg-8 m-auto" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <input type="file" name="image_file" accept="image/*" class="form-control-file" required>
                            </div>
                            <div class="form-group col-sm-12 mt-3">
                                <input type="submit" value="Process Image" class="btn btn-outline-primary rounded">
                            </div>
                        </div>
                    </form><!-- end of image processing form -->
                </div><!-- end of container -->
            </section><!-- end of image processing section -->
        </div>
    </header><!-- end of page header -->

    <!-- about section -->

    <!-- footer -->
    <div class="container">
        <footer class="footer">
            <p class="mb-0">Projet De traitement Multimedia
                <script>document.write(new Date().getFullYear())</script> 
            </p>
        </footer>
    </div> <!-- end of page footer -->

    <!-- core  -->
    <script src="{% static 'assets/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap 3 affix -->
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Meyawo js -->
    <script src="{% static 'assets/js/meyawo.js' %}"></script>

</body>

</html>