{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>SeeN'Speak</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="{% static 'assets/css/meyawo.css' %}">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="#">SeeN'Speak</a>
            <ul class="nav">
                <li class="item">
                    <a class="link" href="#home">Home</a>
                </li>
                <li class="item">
                    <a class="link" href="{% url 'textToSpeech' %}">Text to Speech</a>
                </li>
                <li class="item">
                    <a class="link" href="{% url 'image_processing' %}">Image to Text Converter</a>
                </li>
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>
    </nav><!-- End of Page Navbar -->

    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">HI!  SEE'N SPEAK:</span>
            </h1>
            <p class="header-subtitle"> Transformez instantanément du texte en voix et des images en texte</p>

        </div>
    </header><!-- end of page header -->

    <!-- about section -->


    

    <!-- portfolio section -->
    <section class="section" id="portfolio">
        <div class="container text-center">
            <p class="section-subtitle"></p>
            <h6 class="section-title mb-6">What we do?</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-4">
                    <a href="{% url 'textToSpeech' %}" class="portfolio-card">
                        <img src="{% static 'assets/imgs/textToSpeech1.png' %}" class="portfolio-card-img"
                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Text To Speech</h5>
                                    <p class="font-weight-normal">textToSpeech</p>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="col-md-4">
                <a href="{% url 'image_processing' %}" class="portfolio-card">
                    <img class="portfolio-card-img" src="{% static 'assets/imgs/imageToTextConverter1.png' %}"
                        alt="Image to Text Converter">
                    <span class="portfolio-card-overlay">
                        <span class="portfolio-card-caption">
                            <h4>Image to Text Converter</h4>
                            <p class="font-weight-normal">Convert images to text</p>
                        </span>
                        </span>
                    </a>
                </div>
                
            </div><!-- end of row -->
        </div><!-- end of container -->
    </section> <!-- end of portfolio section -->


    

    <!-- footer -->
    <div class="container">
        <footer class="footer">
            <p class="mb-0">Projet De traitement Multimedia
                <script>document.write(new Date().getFullYear())</script> 
            </p>
            
        </footer>
    </div> <!-- end of page footer -->

    <!-- core  -->
    <script src="{% static 'assets/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap 3 affix -->
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Meyawo js -->
    <script src="{% static 'assets/js/meyawo.js' %}"></script>

</body>

</html>